Repository monglife/monglife-mongs, pull requests merged in 2024-03, with the labels that each got.

#112 알림 모듈 기능 개발
  core/src/main/java/com/mongs/core/mqtt/PublishShift.java
  core/src/main/java/com/mongs/core/mqtt/PublishState.java
  core/src/main/java/com/mongs/core/mqtt/PublishStatus.java
  notification/.gitignore
  notification/build.gradle
  notification/src/main/java/com/mongs/notification/NotificationApplication.java
  notification/src/main/java/com/mongs/notification/client/MqttClient.java
  notification/src/main/java/com/mongs/notification/code/PublishCode.java
  notification/src/main/java/com/mongs/notification/config/MqttConfig.java
  notification/src/main/java/com/mongs/notification/dto/request/BasicPublish.java
  notification/src/main/java/com/mongs/notification/service/NotificationService.java
  settings.gradle
Labels: enhancement, domain/notification

#120 스케줄 코드 및 API 개발 및 구현
  collection/src/main/java/com/mongs/collection/config/CodeConfig.java
  management/build.gradle
  management/src/main/java/com/mongs/management/config/BaseTimeEntity.java
  management/src/main/java/com/mongs/management/config/QueryDslConfig.java
  management/src/main/java/com/mongs/management/domain/ateFood/AteFoodHistory.java
  management/src/main/java/com/mongs/management/domain/food/Food.java
  management/src/main/java/com/mongs/management/domain/food/FoodController.java
  management/src/main/java/com/mongs/management/domain/food/FoodRepository.java
  management/src/main/java/com/mongs/management/domain/food/Query/CustomFoodRepository.java
  management/src/main/java/com/mongs/management/domain/food/Query/CustomFoodRepositoryImpl.java
  management/src/main/java/com/mongs/management/domain/food/service/FoodService.java
  management/src/main/java/com/mongs/management/domain/food/service/FoodServiceImpl.java
  management/src/main/java/com/mongs/management/domain/food/service/dto/FoodCategory.java
  management/src/main/java/com/mongs/management/domain/mong/controller/MongController.java
  management/src/main/java/com/mongs/management/domain/mong/entity/Mong.java
  management/src/main/java/com/mongs/management/domain/mong/service/MongScheduler.java
  management/src/main/java/com/mongs/management/domain/mong/service/MongServiceImpl.java
  management/src/main/java/com/mongs/management/domain/mong/service/dto/LastFoodBuyDate.java
  management/src/main/java/com/mongs/management/domain/mong/service/enums/MongEvolutionEXP.java
  management/src/main/java/com/mongs/management/domain/mongEvent/MongEvent.java
  management/src/main/java/com/mongs/management/exception/ManagementErrorCode.java
Labels: enhancement, domain/management

#126 로그아웃 기능 및 앤드포인트 추가 개발
  auth/src/main/java/com/mongs/auth/controller/AuthController.java
  auth/src/main/java/com/mongs/auth/dto/request/LogoutReqDto.java
  auth/src/main/java/com/mongs/auth/dto/response/LogoutResDto.java
  auth/src/main/java/com/mongs/auth/entity/AccountLog.java
  auth/src/main/java/com/mongs/auth/exception/AuthErrorCode.java
  auth/src/main/java/com/mongs/auth/repository/AccountLogRepository.java
  auth/src/main/java/com/mongs/auth/service/AuthService.java
  common/src/main/java/com/mongs/common/config/CodeInitializer.java
  common/src/main/java/com/mongs/common/config/InitFeedbackCodeData.java
  common/src/main/java/com/mongs/common/controller/CommonController.java
  common/src/main/java/com/mongs/common/dto/response/FindCodeResDto.java
  common/src/main/java/com/mongs/common/dto/response/FindFeedbackCodeResDto.java
  common/src/main/java/com/mongs/common/service/CommonService.java
  core/src/main/java/com/mongs/core/code/entity/FeedbackCode.java
  core/src/main/java/com/mongs/core/passport/PassportAccount.java
  core/src/main/java/com/mongs/core/security/principal/PassportDetail.java
  member/src/main/java/com/mongs/member/domain/collection/controller/CollectionController.java
Labels: enhancement, domain/auth

#137 auth 모듈 테스트 코드 및 로직 수정
  auth/build.gradle
  auth/src/main/java/com/mongs/auth/controller/AuthController.java
  auth/src/main/java/com/mongs/auth/service/AuthService.java
  auth/src/test/java/com/mongs/auth/config/RedisContainer.java
  auth/src/test/java/com/mongs/auth/controller/AuthControllerTest.java
  auth/src/test/java/com/mongs/auth/repository/TokenRepositoryTest.java
  auth/src/test/java/com/mongs/auth/service/AuthServiceTest.java
  auth/src/test/java/com/mongs/auth/util/HmacProviderTest.java
  core/src/main/java/com/mongs/core/interceptor/AdminFeignInterceptor.java
  core/src/main/java/com/mongs/core/security/filter/PassportFilter.java
  core/src/main/java/com/mongs/core/security/principal/PassportDetail.java
  core/src/main/java/com/mongs/core/vo/passport/PassportVo.java
  gateway/src/main/java/com/mongs/gateway/filter/GeneratePassportFilter.java
  gateway/src/main/java/com/mongs/gateway/service/GatewayService.java
  management/src/test/java/com/mongs/management/domain/security/WithMockCustomUserSecurityContextFactory.java
  member/src/test/java/com/mongs/member/domain/collection/security/WithMockCustomUserSecurityContextFactory.java
Labels: domain/auth, fix
